<h1>user login</h1>
 
<% if (messages.error) { %>
    <% messages.error %>
<% } %>

<form action="/login" method="POST">
    <div>
        <label for="username">username</label>
        <input type="username" id="username" name="username" required>
    </div>
    <br>
    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <br>
    <button type="submit">login</button>
</form>
<button><a href="/register">register</a></button>